/*
    1. Posicionamiento.
    2. Modelo de caja (Box model).
    3. Tipografía.
    4. Visuales.
    5. Otros.
*/

:root {
    /* Colores */
    --bitcoin-orange: #f7931a;
    --soft-orange: #ffe9d5;
    --secundary-blue: #1a9af7;
    --soft-blue: #e7f5ff;
    --warm-black: #201e1c;
    --black: #282623;
    --grey: #bababa;
    --grey-texts: #757575;
    --off-white: #faf8f7;
    --just-white: #ffffff;
    --grey-product-detail-text: #808080;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    font-family: "DM Sans", sans-serif;
    min-width: 32rem;
    scroll-behavior: smooth;
}

img {
    width: 100%;
}

.header {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; /*me*/
    width: 100%;
    height: 30.5rem;
    text-align: center;
    background: linear-gradient(207.8deg, #201e1c 16.69%, #f7931a 100%);
}

.header__img-container {
    width: 15rem;
    height: 2.4rem;
    margin-top: 4.2rem;
    /* align-self: center; */
}

.header__title-container {
    width: 90%;
    min-width: 28.8rem;
    max-width: 90rem;
    height: 21.8rem;
    margin-top: 4rem;
    /* align-self: center; */
}

.title-container__h1 {
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--just-white);
}

.title-container__text {
    margin-top: 2.5rem;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: var(--soft-orange);
}

.header-title-container__button {
    position: absolute;
    left: calc(50% - 114.5px);
    top: calc(100% - 24px);
    display: block;
    padding: 1.5rem;
    width: 22.9rem;
    height: 4.8rem;
    background-color: var(--off-white);
    /* Sombra */
    box-shadow: 0 4px 8px rgba(89, 73, 30, 0.16);
    border: none;
    border-radius: 5px;
    font-size: 1.4rem;
    font-weight: bold;
    text-decoration: none;
    color: var(--black);
}

.header-button__down-arrow {
    display: inline-block;
    width: 1.3rem;
    height: 0.8rem;
    margin-left: 1rem;
    background: url("../assets/icons/arrow.svg") no-repeat center;
}

.main {
    width: 100%;
    height: auto;
    background-color: var(--off-white);
}

.main__exchange-container {
    width: 100%;
    height: auto;
    padding-top: 8rem;
    padding-bottom: 3rem;
    text-align: center;
}

.main-exchange-container__title {
    width: 90%;
    min-width: 28.8rem;
    max-width: 90rem;
    margin: 0 auto;
}

.main-exchange-container__background-img-container {
    width: 20rem;
    height: 20rem;
    margin: 0 auto;
    margin-bottom: 5rem;
}

.main-exchange-container__background-img {
    width: 100%;
    height: 100%;
    background: url("../assets/images/Bitcoin.svg") no-repeat center;
    background-size: cover;
}

.main-exchange-container__h2 {
    margin-bottom: 3rem;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--black);
}

.main-exchange-container__p {
    margin-bottom: 3rem;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.6rem;
    color: var(--grey-texts);
}

.main-currency-table,
.main-commission-table {
    width: 70%;
    min-width: 23.5rem;
    max-width: 50rem;
    height: 36rem;
    margin: 0 auto;
    font-family: "Inter", sans-serif;
}

.main-currency-table__title,
.main-commission-table__title {
    margin-bottom: 1.5rem;
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 2.3rem;
    color: var(--bitcoin-orange);
}

.main-currency-table__container,
.main-commission-table__container {
    width: 90%;
    min-width: 23rem;
    max-width: 30rem;
    height: 25rem;
    margin: 0 auto;
}

.main-currency-table__table {
    width: 100%;
    height: 100%;
}
.table__td,
.exchange {
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.9rem;
    color: var(--grey);
}

.table__td {
    width: 50%;
    background-color: var(--just-white);
}

.main-currency-table__container .table--top-left {
    border-radius: 15px 0 0 0;
}

.main-currency-table__container .table--top-right {
    border-radius: 0 15px 0 0;
}

.main-currency-table__container .table--bottom-left {
    border-radius: 0 0 0 15px;
}

.main-currency-table__container .table--bottom-right {
    border-radius: 0 0 15px 0;
}

.main-currency-table__container .table--right,
.commission-price {
    font-size: 1.4rem;
    font-weight: normal;
    line-height: 1.7rem;
    color: var(--grey-texts);
}

.main-currency-table__container .down,
.main-currency-table__container .up {
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;
    margin-left: 10px;
    background-size: cover;
}

.main-currency-table__container .down {
    background: url("../assets/icons/trending-down.svg") no-repeat center;
}

.main-currency-table__container .up {
    background: url("../assets/icons/trending-up.svg") no-repeat center;
}

.main-commission-table__title {
    color: var(--secundary-blue);
}

.main-commission-table__container {
    display: grid;
    grid-template: repeat(4, 1fr) / repeat(2, 1fr);
    align-items: center;
    border-radius: 15px;
    background-color: var(--just-white);
}

.commission-text-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.exchanche-text--top-left {
    border-right: 1px solid var(--off-white);
    border-bottom: 1px solid var(--off-white);
}

.exchanche-text--top-right {
    border-left: 1px solid var(--off-white);
    border-bottom: 1px solid var(--off-white);
}

.exchanche-text--middle-left {
    border-top: 1px solid var(--off-white);
    border-right: 1px solid var(--off-white);
    border-bottom: 1px solid var(--off-white);
}

.exchanche-text--middle-right {
    border-top: 1px solid var(--off-white);
    border-bottom: 1px solid var(--off-white);
    border-left: 1px solid var(--off-white);
}

.exchanche-text--bottom-left {
    border-top: 1px solid var(--off-white);
    border-right: 1px solid var(--off-white);
}

.exchanche-text--bottom-right {
    border-top: 1px solid var(--off-white);
    border-left: 1px solid var(--off-white);
}

.main-table__date {
    width: 19rem;
    height: 3rem;
    margin: 0 auto;
    margin-top: 1.5rem;
    padding: 0.8rem;
    border-radius: 8px;
}

.table-date__text {
    font-size: 1.2rem;
    font-weight: 300;
    line-height: 1.5rem;
    color: var(--warm-black);
}

.main-currency-table__date--orange {
    background-color: var(--soft-orange);
}

.main-exchange-table__date--blue {
    background-color: var(--soft-blue);
}

.main-tables-container {
    display: flex;
    overflow-x: scroll;
    width: 23.5rem;
    margin: 0 auto;
}

.main__product-detail {
    position: relative;
    width: 100%;
    height: auto;
    padding: 2rem 1rem;
    background-color: var(--warm-black);
}

.product-detail__batata-logo {
    position: absolute;
    top: -1rem;
    left: calc(50% - 2rem);
    width: 4rem;
    height: 2.5rem;
    background: url("../assets/images/papita.svg") no-repeat center;
}

.product-detail__title {
    width: 90%;
    min-width: 28.8rem;
    height: auto;
    margin: 5rem auto 0;
    text-align: center;
}

.product-detail-title__main {
    margin-bottom: 2rem;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--just-white);
}

.product-detail-title__second {
    margin-bottom: 2rem;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: var(--grey-product-detail-text);
}

.product-detail-card {
    width: 90%;
    min-width: 28.8rem;
    max-width: 40rem;
    min-height: 15rem;
    margin: 1.5rem auto;
    padding: 1.5rem;
    background-color: var(--black);
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.16);
}

.product-details-icons {
    display: block;
    width: 2.2rem;
    height: 2.2rem;
    margin-bottom: 1rem;
    background-size: cover;
}

.clock {
    background: url("../assets/icons/clock.svg") no-repeat center;
} 

.eye {
    width: 2.5rem;
    background: url("../assets/icons/eye.svg") no-repeat center;
}

.dollar-sing {
    background: url("../assets/icons/dollar-sign.svg") no-repeat center;
}

.check-circle {
    background: url("../assets/icons/check-circle.svg") no-repeat center;
}

.product__card-title {
    margin-bottom: 1.5rem;
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 1.8rem;
    color: var(--just-white);
}

.product__card-body {
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: var(--grey-product-detail-text);
}

.bitcoin-img-container {
    width: 100%;
    height: 50vh;
    background: url("../assets/images/bitcoinbaby-2x.jpg") no-repeat center;
    background-size: cover;
    text-align: center;
}

.bitcoin-img__title {
    padding-top: 6.4rem;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 1.6rem;
    color: var(--just-white);
}

.main-plans-container {
    width: 100%;
    padding: 6.4rem 0;
    text-align: center;
}

.plans__title {
    width: 90%;
    min-width: 28.8rem;
    height: auto;
    margin: 0 auto 5rem;
}

.plans-title__main {
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--black);
}

.plans-title__second {
    margin-top: 3rem;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: var(--grey-texts);
}

.plans-container__card {
    position: relative;
    width: 70%;
    min-width: 23rem;
    max-width: 30rem;
    height: 25rem;
    margin: 5rem auto 0;
    padding: 0 1.5rem;
    background-color: var(--just-white);
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(89, 73, 30, 0.16);
}
