.faq__item-container {
    max-width: 38.4rem;
}

.exchange-price-list__arrow-rigth,
.exchange-price-list__arrow-left {
    display: none;
}

.main__exchange-price-list-cointainer {
    gap: 3.2rem;
    max-width: initial;
}

.currency-table-container:last-child {
    position: static;
    -webkit-transform: translateX(0);
            transform: translateX(0);
}

.product-details__card-container {
    -ms-grid-columns: (fit-content(51.2rem))[2];
    grid-template-columns: repeat(2, fit-content(51.2rem));
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.main__bitcoin-baby-container {
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.bitcoin-baby__title {
    font-size: 9.5rem;
}

.plans-container__slider {
    gap: 2rem;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}