html {
    font-size: 80%  ;
}

.main-tables-container {
    max-width: 93rem;
    overflow-x: auto;
}

.product-cards__container {
    display: flex;
    flex-flow: row wrap;
    width: 93rem;
    margin: 0 auto;
}

.plans-container__slider {
    overflow-x: auto;
    justify-content: center;
}