@import "./components/global/global";
@import "./components/global/header";
@import "./components/cards-price/cards-price";
@import "./components/cards-about-page/cards-about-page";
@import "./components/cards-plans/cards-plans";


.main__exchange-container {
    flex-direction: column;
    position: relative;
    padding: 6rem 1.6rem 5.2rem;
    text-align: center;
    background-color: $off-white;
    @include all-center-flex;
}

.main__exchange-bitcoin-image {
    width: 19.5rem;
    margin-block-end: 4rem;
}

.main__exchange-info-container {
    margin-block-end: 4.8rem;
}

.main__exchange-info-subtitle {
    color: $gray;
}

.main__exchange-price-list-cointainer {
    display: flex;
    justify-content: center;
    position: relative;
    width: 100%;
    max-width: 320px;
    overflow-x: hidden;
}

.currency-table-container {
    width: 20rem;
    transition: 500ms;
}

.currency-table-container:last-child {
    position: absolute;
    transform: translateX(100vw);
    transition: 600ms;
}

.exchange-price-list__arrow-rigth {
    position: absolute;
    top: calc(50% - 0.3415rem);
    left: 90%;
    transform: rotate(270deg);
}

.exchange-price-list__arrow-left {
    position: absolute;
    top: calc(50% - 0.3415rem);
    left: 5%;
    transform: rotate(90deg);
}

.exchange-price-list__arrow-rigth:hover~.currency-table-container:last-child {
    transform: translateX(0);
}

.exchange-price-list__arrow-rigth:hover~.currency-table-container:nth-child(3) {
    transform: translateX(-100vw);
}

/* Start product details */

.main__product-details {
    position: relative;
    padding: 6.4rem 1.6rem;
    text-align: center;
    background-color: $warm-black;
}

.product-details__batabit-icon {
    position: absolute;
    top: calc(0% - 1.2005rem);
    left: calc(50% - 2.0285rem);
    width: 4.057rem;
    height: 2.401rem;
}

.product-details__title {
    margin-block-end: 3.2rem;
}

.product-details__title-main {
    margin-block-end: 2.4rem;
    font-size: $large;
    color: $just-white;
}

.product-details__title-secondary {
    color: $warm-gray;
}

.product-details__card-container {
    display: grid;
    place-items: center;
    gap: 1.6rem;
}

/* Start bitcoin baby */

.main__bitcoin-baby-container {
    width: 100%;
    height: 38.7rem;
    padding-block-start: 6.4rem;
    background: url("https://drive.google.com/uc?id=1DXQxqOvUkvbib5jO7BoazVscFwAfD7F2") no-repeat center;
    background-size: cover;
}

.bitcoin-baby__title {
    margin: 0;
    text-align: center;
    color: $just-white;
}

/* Start plans section */

.main__plans-container {
    padding: 8rem 1.6rem 6.4rem;
    text-align: center;
    background-color: $off-white;
}

.main__plans-titles-container {
    margin-block-end: 4.8rem;
}

.main__plans-subtitle {
    color: $gray;
}

.plans-container__slider {
    display: grid;
    grid-template-columns: repeat(3, minmax(19rem, 22.3rem));
    grid-template-rows: 25.4rem;
    align-content: center;
    gap: 0.8rem;
    height: 28.8rem;
    overflow-x: scroll;
    overscroll-behavior-x: contain;
    scroll-snap-type: x proximity;
}