@import "./components/global/global";
@import "./components/global/header";
@import "./components/cards-price/cards-price";

.main__exchange-container {
    flex-direction: column;
    position: relative;
    padding: 6rem 1.6rem 5.2rem;
    text-align: center;
    background-color: $off-white;
    @include all-center-flex;
}

.main__exchange-bitcoin-image {
    width: 19.5rem;
    margin-block-end: 4rem;
}

.main__exchange-info-container {
    margin-block-end: 4.8rem;
}

.main__exchange-info-title {
    margin-block-end: 2.4rem;
    font-size: $large;
    font-weight: bold;
}

.main__exchange-info-subtitle {
    font-weight: 500;
    color: $gray;
}

.main__exchange-price-list-cointainer {
    display: flex;
    justify-content: center;
    position: relative;
    width: 100%;
    max-width: 320px;
    overflow-x: hidden;
}

.currency-table-container {
    width: 20rem;
    transition: 500ms;
}

.currency-table-container:last-child {
    position: absolute;
    transform: translateX(100vw);
    transition: 600ms;
}

.exchange-price-list__arrow-rigth {
    position: absolute;
    top: calc(50% - 0.3415rem);
    left: 90%;
    transform: rotate(270deg);
}

.exchange-price-list__arrow-left {
    position: absolute;
    top: calc(50% - 0.3415rem);
    left: 5%;
    transform: rotate(90deg);
}

.exchange-price-list__arrow-rigth:hover~.currency-table-container:last-child {
    transform: translateX(0);
}

.exchange-price-list__arrow-rigth:hover~.currency-table-container:nth-child(3) {
    transform: translateX(-100vw);
}

/* Start product details */

.main__product-details {
    position: relative;
    padding: 6.4rem 1.6rem;
    text-align: center;
    background-color: $warm-black;
}

.product-details__batabit-icon {
    position: absolute;
    top: calc(0% - 1.2005rem);
    left: calc(50% - 2.0285rem);
    width: 4.057rem;
    height: 2.401rem;
}

.product-details__title {
    margin-block-end: 3.2rem;
}

.product-details__title-main {
    margin-block-end: 2.4rem;
    font-size: $large;
    color: $just-white;
}

.product-details__title-secondary {
    color: $warm-gray;
}

.product-details__card-container {
    display: grid;
    place-items: center;
    gap: 1.6rem;
}

.product-detail__card {
    width: 100%;
    height: auto;
    padding: 2rem;
    border-radius: 0.8rem;
    background-color: $warm-black-plus-1;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.16);
}

.product-detail__card-icon {
    width: 2.4rem;
    height: 2.4rem;
}

.product-detail__card-title {
    margin: 1.2rem 0;
    font-size: $medium;
    text-align: start;
    color: $just-white;
}

.product-detail__card-info {
    text-align: start;
    color: $warm-gray;
}

/* Start bitcoin baby */

.main__bitcoin-baby-container {
    width: 100%;
    height: 38.7rem;
    padding-block-start: 6.4rem;
    background: url("https://drive.google.com/uc?id=1DXQxqOvUkvbib5jO7BoazVscFwAfD7F2") no-repeat center;
    background-size: cover;
}

.bitcoin-baby__title {
    font-size: $large;
    font-weight: bold;
    text-align: center;
    color: $just-white;
}

/* Start plans section */