$bitcoin-orange: #F7931A;
$soft-orange: #FFE9D5;
$secondary-blue:  #1A9AF7;
$soft-blue:  #E7F5FF;
$warm-black: #201E1C;
$warm-black-plus-1: #282623;
$gray: #BABABA;
$off-white: #FAF8F7;
$just-white: #FFFFFF;
$linear-BG: linear-gradient(207.8deg, #201E1C 16.69%, #F7931A 100%);
