@import "./colors";
@import "./typography";
@import "./mixins";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    outline: none;
    font-family: $font-primary;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

img,
svg {
    width: 100%;
}

.arrow {
    display: inline-grid;
    place-items: center;
    width: 1.2rem;
    height: 0.741rem;
}

.arrow-right-orange {
    width: 1.6rem;
    height: 1.6rem;
}

.batabit-papa-icon {
    width: 4.057rem;
    height: 2.401rem;
}