// font family
$font-primary: 'DM Sans', sans-serif;;
$font-secondary: 'Inter', sans-serif;

// font size
$extra-small: 1.2rem;
$small: 1.4rem;
$medium: 1.8rem;
$large: 2.4rem;
$extra-large: 5.2rem;

