// font family
$font-primary: 'DM Sans', sans-serif;;
$font-secondary: 'Inter', sans-serif;

// font size
$xx-small: 0.8rem;
$extra-small: 1.2rem;
$small: 1.4rem;
// $small-medium: 1.6rem;
$medium: 1.8rem;
$large: 2.4rem;
$extra-large: 5.2rem;

p, a {
    font-size: $small;
}

p {
    font-weight: 500;
}

.title {
    margin-block-end: 2.4rem;
    font-size: $large;
    // font-weight: bold;
}




