extend ./components/global/_global.pug
block head 
    +style-head("style.css")
    +titles("Batabit")
block main
    main.main
        section.main__exchange-container
            +figure-img("1KlMnVbKx2m4051aIbc6yFLTOc6nR9GPv", "Bitcoin image").main__exchange-bitcoin-image
            section.main__exchange-info-container
                h2.main__exchange-info-title.title Visibilizamos todas las tasas de cambio.
                p.main__exchange-info-subtitle Traemos información en tiempo real de las casas de cambio y las monedas más importantes del mundo.
            section.main__exchange-price-list-cointainer 
                +arrow.exchange-price-list__arrow-left
                +arrow.exchange-price-list__arrow-rigth
                +table-price-coin("Monedas", "19 de Julio 23:45", "true")
                +table-price-coin("Comisiones", "19 de Julio 23:48", "false")
        section.main__product-details 
            +batabit-icon.product-details__batabit-icon
            section.product-details__title 
                h2.product-details__title-main.title Creamos un producto sin comparación.
                p.product-details__title-secondary Confiable y diseñado para su uso diario.
            section.product-details__card-container
                +product-details-card("18O5uL6MME2lJZWpMQHUyLb_fmKR13tFs", "Clock icon", "Tiempo real", "Nuestro API toma información minuto a minuto sobre las tasas que más determinan el comportamiento.")
                +product-details-card("1fHn7ILbK9wCW4wc4xJ5b6iiCrA4xZK88", "Eye icon", "No hay tasas escondidas", "Ni en la compra o al momento de exit, Batabit siempre te muestra el costo real de lo que estás adquiriendo.")
                +product-details-card("1iOKXK5nZcIwHFcxZMri8e_rOrdZQFTVm", "Dollar sign icon", "Compara monedas", "Ni en la compra o al momento de exit, Batabit siempre te muestra el costo real de lo que estás adquiriendo.")
                +product-details-card("1zLB6NOyxU0Imp2P-Bh8TwzG4_utzh1te", "Check circle icon", "Información confiable", "Nuestras fuentes están 100% verificadas y continuamos auditando su contenido mientras se actualizan.")
        section.main__bitcoin-baby-container 
            h2.bitcoin-baby__title.title Conócelo hoy.
        section.main__plans-container 
            .main__plans-titles-container 
                h2.main__plans-title.title Escoge el plan que mejor se ajuste a ti.
                p.main__plans-subtitle Cualquier plan te da acceso completo a nuestra plataforma.
            section.plans-container__slider
                +plan-card("false", "Pago Mensual", "5", "*Plan básico para mantenerte informado")
                +plan-card("true", "Pago Anual", "49", "*Ahorras $129 comparado al plan mensual.")
                +plan-card("false", "Acceso de por vida", "99", "*Ahorras $999+ comparado al plan anual.")
        section.main__faq-container 
            h2.title.main__faq-title ¿Preguntas? Aquí estamos para ti.
            sectom.main__faq-items-container
                +faq-item("¿Batabit me permite hacer compras en su plataforma?", "No. Batabit es una plataforma exclusivamente para consulta de información y toma de decisiones. Todavía no ofrecemos servicios de compra o venta.")
                +faq-item("¿Qué es Bitcoin?", "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.")
                +faq-item("¿Cómo puedo realizar una transacción en bitcoins?", "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.")
                +faq-item("¿Cómo aseguro mis compras?", "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.")