footer.footer
    section.footer__social-media-and-more-container
        ul.footer__social-media-and-more 
            li.footer__social-media-items 
                a(href="").footer__social-media-item-content Linkedin
            li.footer__social-media-items 
                a(href="").footer__social-media-item-content Crunchbase
            li.footer__social-media-items 
                a(href="").footer__social-media-item-content Hackernews 
    section.footer__logo-container 
        +logo-footer