header.header
    +logo-batabit.header__logo-container
    .header__text-container
        h1.header__title.title La próxima revolución en el intercambio de criptomonedas.
        p.header__subtitle Batatabit te ayuda a navegar entre los dieferentes precios y tendencias.
    a(href="#plans").header__button Conoce Nuestros Planes
        span 
            +arrow.header__arrow-down